*,
::after,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-color: #242424;
  color: #c4c4c4;
}
.clock_wrapper {
  height: 350px;
  width: 350px;
  overflow: hidden;
  display: flex;
  border-radius: 50%;
  position: relative;
  box-shadow: 0px -15px 15px rgba(255, 255, 255, 0.035),
    inset 0px -15px 15px rgba(255, 255, 255, 0.035),
    0 15px 15px rgba(0, 0, 0, 0.3), inset 0 15px 15px rgba(0, 0, 0, 0.3);
}
.clock_slider {
  display: flex;
  align-items: center;
  position: relative;
  left: 0;
  transition: all 0.3s ease-in-out;
}

.clock_slider.slide {
  left: -350px;
}

.analog_clock,
.digital_clock {
  height: 350px;
  width: 350px;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}

.analog_clock {
  height: 350px;
  width: 350px;
  background: url(images/clock.png) center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid #242424;
  border-radius: 50%;

  position: relative;
}
.analog_clock::before {
  content: "";
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: goldenrod;
  position: absolute;
  z-index: 111;
}

.analog_hour,
.analog_minute,
.analog_seconde {
  position: absolute;
}

.analog_hours,
.analog_minutes,
.analog_secondes {
  display: flex;
  justify-content: center;
  position: relative;
  border-radius: 50%;
}

.analog_hours {
  width: 160px;
  height: 160px;
}
.analog_hours::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 80px;
  background: red;
  z-index: 10;
  border-radius: 6px 6px 0 0;
}
.analog_minutes {
  width: 190px;
  height: 190px;
}
.analog_minutes::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 90px;
  background: gold;
  z-index: 11;
  border-radius: 6px 6px 0 0;
}
.analog_secondes {
  width: 230px;
  height: 230px;
}
.analog_secondes::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 150px;
  background: #fff;
  z-index: 12;
  border-radius: 6px 6px 0 0;
}
.digital_clock {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}
.screen {
  margin: 10px;
}

.buttons {
  display: flex;
  margin-top: 40px;
}
.btn {
  cursor: pointer;
  font-size: 20px;
  margin: 0 20px;
}
.btn:hover {
  color: #242424;
  text-shadow: 0 0 10px gold, 0 0 21px gold, 0 0 42px goldenrod,
    0 0 82px goldenrod;
}
.blink {
  opacity: 1;
  animation: blink ease-in-out 1s infinite;
}
@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    transform: 1;
  }
}
